:root {

    --background-color: #101010;
    --screen-color: #252525;
    --gap-value: 1rem;

    --color-button-default: #151515;
    --color-button-hover: #090909;
    --color-button-text: #d9d9d9;
}


* {
margin: 0;
padding: 0;
}


body {
display: flex;
flex-direction: row;
background-color: var(--background-color);
justify-content: center;
align-items: center;
height: 100vh;
}

main {
display: flex;
flex-direction: column;

width: 65ch;
height: 65ch;
gap:var(--gap-value);
}

#output {
    
    height: 2rem;
    text-align: end;
    background-color: var(--screen-color);
    border: none;
    border-radius: 0.6rem;
    padding: 2rem;
    
    font-family: Helvetica;
    font-size: 2rem;
    color: var(--color-button-text);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(05,05,05,0.6);
    

}
.button-main {
    display: flex;
    flex-direction: row;
    
    width: 65ch;
    height: 65ch;
    gap:var(--gap-value);
    }


section {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap:var(--gap-value);

}

.button-box {
    display: flex;
    flex-direction: column;  
    width: 80%;
    height: 100%;
    gap:var(--gap-value);
}
.operator {
    display: flex;
    flex-direction: column;    
    width: 20%;
    gap:var(--gap-value);
}

button {
    width: 100%;
    height: 100%;
    background-color: var(--color-button-default);
    border: none;
    color: #eaeaea;
    border-radius: 0.6rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(05,05,05,0.6);

    font-family: Helvetica;
    font-size: 2rem;
    color: var(--color-button-text);
    transition: background-color 0.1s ease-in-out;
}

button:active {
    background-color: var(--color-button-hover);
    transition: background-color 0.1s ease-in-out;
}