:root {
 
    --background-color: #d9d9d9;
    --screen-color: #898989;
    --gap-value: 1rem;

    --color-button-default: #a9a9a9;
    --color-button-hover: #898989;
    --color-button-text: #101010;
    --color-footer-text: #101010;
}