:root {
    --display: url(../gif/sacod-background.gif);
    --background-color: none;
    --screen-color: #ffe387;
    --gap-value: 1rem;

    --color-button-default: #ffb36c;
    --color-button-hover: #fe8465;
    --color-button-text: #1f1f1f;
    --color-footer-text: #ffb36c;

    --main-bd-filter: blur(1rem);
    --main-bg-color: rgba(05, 05, 05, 0.6);
}