* {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

body {
    display: flex;
    flex-direction: row;
    background-image:var(--display);
    background-size: cover;
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}


main {
    display: flex;
    flex-direction: column;
    max-width: 65ch;
    min-width: 30ch;
    max-height: 65ch;
    min-height: 60ch;
    gap: var(--gap-value);
    background-color: var(--main-bg-color);
    padding: 1rem;
    border-radius: 0.6rem;
    backdrop-filter: var(--main-bd-filter);
}

#output {
    height: 2rem;
    text-align: end;
    background-color: var(--screen-color);
    border: none;
    border-radius: 0.6rem;
    padding: 2rem;
    font-family: Helvetica;
    font-size: 2rem;
    color: var(--color-button-text);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(05, 05, 05, 0.6);
}

.button-main {
    display: flex;
    flex-direction: row;
    max-width: 65ch;
    min-width: 30ch;
    height: 100vw;
    gap: var(--gap-value);
}

section {
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: var(--gap-value);
}

.button-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    gap: var(--gap-value);
}

.operator {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: var(--gap-value);
}

button {
    width: 100%;
    height: 100%;
    background-color: var(--color-button-default);
    border: none;
    color: #eaeaea;
    border-radius: 0.6rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(05, 05, 05, 0.6);

    font-family: Helvetica;
    font-size: 2rem;
    color: var(--color-button-text);
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}


button:active {
    background-color: var(--color-button-hover);
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1rem;
    font-family: Helvetica;
    font-size: 0.8rem;
    font-weight: 100;
    color: var(--color-footer-text);
    transition: background-color 0.1s ease-in-out;
}